{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="btn btn-info" type="submit"><i class="fa-solid text-light fa-plus"></i></button>
    <button type="button" class="btn btn-info upvote-btn"><i class="fa-solid text-light fa-thumbs-up"></i></button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}